.btn { 
	display: inline-block; 
	padding: 4px 10px 4px; 
	margin-bottom: 0; 
	font-size: 13px; 
	line-height: 18px; 
	color: #333333; 
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
	vertical-align: middle; 
	background-color: #f5f5f5; 
	background-repeat: repeat-x; 
	border: 1px solid #e6e6e6; 
	border-radius: 4px; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
	cursor: pointer; *margin-left: .3em; 
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

html { width: 100%; height:100%; overflow:hidden; margin: 0}

* { box-sizing:border-box; }

body { 
    width: 100%;
    height: 100%;
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.emp-panel {
	background-color: rgba(0,0,0,0.2);
	width:20%;
	height:auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	padding: 30px;
	margin: 1% 0 0 1%;
	float: left;
}
.emp-panel h1 {color: white; text-shadow: 0px 0px 4px black; text-align: center; margin: 0 0 3% 0;}
.emp-panel h3 {color: white; text-shadow: 0px 0px 4px black; text-align: center; margin: 0 0 3% 0; padding-top: 10px;}
.emp-panel a { text-decoration: none; }
.emp-tab { margin: 0 0 3% 0; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.6);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

/* The Modal (background) */
.modal {
	display:none;
    position: absolute;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

/* Modal Content Box */
.add-user h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.form-container {margin-top: 10%;}
.modal-content {
    margin: 4% auto 15% auto;
    width: 30%; 
	width: 30%;
}

/* The Close Button (x) */
.close {
    position: absolute;
	top: 15%;
	right: 35%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.right-container {
	display: block;
	margin: 1% 0 0 1%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 75%;
	float: left;
}