html, body {
    padding: 0;
    margin: 0;
}

body {
	background-image: url("img/background.jpg");
    background-size: 100vh 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div#login-cont {
    padding: 7.5vh;
    width: 42vh;
    height: auto;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    border-radius: 2px;
    box-shadow: 0vh 2vh 2vh rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 0.1vh solid black;
}

h1.login-head{
	font-family:YU Gothic UI;
	font-size: 3.7vh;
	color: gray;
}

#son-logo {
    height: auto;
    width: 26vh;
}

input[type=text], input[type=password] {
    height: 7vh;
    font-size: 3vh;
    width: 100%;
    margin-bottom: 2vh;
    -webkit-appearance: none;
    background: #fff;
    border: 0.1vh solid #d9d9d9;
    border-top: 0.1vh solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 1vh;
    box-sizing: border-box;
}


.login {
  text-align: center;
  font-size: 2.5vh;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 5.8vh;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.center {
    text-align: center;
}